button{
  background-color: transparent;
  color: blue;
  border: none;
  font-family: vcr_osd_monoregular;
  font-size: 10vw;
  opacity: 0.75;
}

button:hover{
  font-size: 10.2vw;
}

html, body {
  height: 100%;
}

body{
  background-image: url("assets/firstframe.png");
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  font-family: vcr_osd_monoregular;
  color: white;
  font-size: 6vh;
}
canvas{
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.2;
    
}

#date{
  text-align: right;
  margin-top: 3vh;
  margin-right: 3vw;
}

@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('assets/fontkit/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('assets/fontkit/vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

