


#ciel {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url(ciel2.jpg);
	background-size: cover;
	z-index:-99999;
	background-repeat:no-repeat;

}


#redhair1 {
	position:absolute;
	bottom: 0;
	left:0;
	height:650px;
	width:530px;
	background: url(redhair1.png);
	background-position-x: bottom;
	background-position-x: left;
	background-repeat:no-repeat;

}

#redhair2 {
	position:absolute;
	bottom: 0;
	right:0;
	height:650px;
	width:530px;
	background-size: cover;
	background: url(redhair2.png);
	background-position-x: bottom;
	background-position-x: right;
	background-repeat:no-repeat;

}



.moon {
    position: fixed;
     width: 750px;
    height: 750px;
 	 top: 0;
    left: 29%;

     	background-position-x: center;
   	background-position-y: top;
   	background-repeat:no-repeat;
    -webkit-animation:spin20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 80s linear infinite;
    z-index: -4
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


.sun {
    position: fixed;
    bottom: -42%;
    left: 37%;
    margin:-60px 0 0 -60px;
    background-repeat:no-repeat;
    -webkit-animation:spin20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 80s linear infinite;
    z-index: -4
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

#nuage{
    top:15%;
    position:absolute;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 75s;
}     
@-webkit-keyframes run {
    0% { left: -50%;}
    50%{ left : 100%;}
    100%{ left: 0;}
}

body{overflow:hidden};





