body{
background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;

background-image: url("https://cdn.discordapp.com/attachments/234232108141379584/832675485728899132/musique.jpg");
}